@using Translaas.Models
@using L = Translaas.Models.LanguageCodes
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><translaas group="common" entry="app.name" lang="@L.English" /> - Privacy Policy</h1>

<p>
    <translaas group="common" entry="welcome.message" lang="@L.English" />
</p>

<p>
    <translaas group="common" entry="footer.rights" lang="@L.English" />
</p>
