@using Translaas.Models
@using static Translaas.Models.Translaas
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><translaas group="privacy" entry="title" lang="@L.English" /></h1>

<p>
    <translaas group="privacy" entry="description" lang="@L.English" />
</p>

<p>
    <translaas group="privacy" entry="details" lang="@L.English" />
</p>
