@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><translaas group="privacy" entry="title" lang="en" /></h1>

<p>
    <translaas group="privacy" entry="description" lang="en" />
</p>

<p>
    <translaas group="privacy" entry="details" lang="en" />
</p>
