@using Translaas.Models
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><translaas group="privacy" entry="title" lang="@LanguageCodes.English" /></h1>

<p>
    <translaas group="privacy" entry="description" lang="@LanguageCodes.English" />
</p>

<p>
    <translaas group="privacy" entry="details" lang="@LanguageCodes.English" />
</p>
