@namespace Translaas.Samples.Blazor.Shared
@inherits LayoutComponentBase
@using Translaas.Models
@using static Translaas.Models.Translaas
@inject ITranslaasService Translaas

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h1>@appName</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string appName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        appName = await Translaas.T("common", "app.name", L.English);
    }
}
